html, body { margin: 0px;}
* { box-sizing: border-box;}

body {
  background-color: #fff;
  color: #000;
  font-size: 1.4em;
  padding: 0em;

  /* Location of the image */
   background-image: url(http://s8.postimg.org/yf0obmyhv/bg_1.jpg);
   background: linear-gradient(to bottom, rgba(0,0,0,.2) 1%,rgba(255,255,255,.2) 100%), url(http://s8.postimg.org/yf0obmyhv/bg_1.jpg) 0 0;
   /* Background image is centered vertically and horizontally at all times */
   background-position: center center;

   /* Background image doesn't tile */
   background-repeat: no-repeat;

   /* Background image is fixed in the viewport so that it doesn't move when
      the content's height is greater than the image's height */
   background-attachment: fixed;

   /* This is what makes the background image rescale based
      on the container's size */
   background-size: cover;

   /* Set a background color that will be displayed
      while the background image is loading */
   background-color: #464646;


  }

h1 {
  height:100px;
  background:rgba(0,0,0,.1);
  shadow: 0 1px 3px 0 rgba(0,0,0,.5);
  text-align:center;
  margin-bottom:50px;
  margin:0;
  padding:25px 0 10px 0;
  letter-spacing:.2em;
  color:#f8f8f8;
  font-size:2em;
}

.activity-container {
  max-width:350px;
  margin:0 auto;
}

.activity-tab {
  background:rgba(0,0,0,.3);
  color:#f8f8f8;
  display:block;
  padding:1em;
  text-align:center;
  letter-spacing:.1em;
  margin:1em auto;
  max-width:100%;
  transition:.5s ease;
  text-decoration:none;
}

#id_username {
  width: 300px;
  margin-bottom: 3em;
  height: 2.5em;
  margin-top: 1em;
  border-radius: 5px;

}

#id_password {
  width: 300px;
  height: 2.5em;
  margin-top: 1em;
  margin-bottom: 2em;
  border-radius: 5px;

}

.btn {
  width: 300px;
  height: 3em;
  background-color: rgba(0,111,187,.8); /*#006fbb;*/
  color:#f8f8f8;
  font-size:.8em;
  border-radius: 5px;

}

.btn:hover {
  background-color: #004C80;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,.5);

}



/* registeration / login pages */
a { text-decoration: underline; color: #fff; }
.helptext { display:block; font-size:.6em; margin-bottom:15px;}
label { display: block; }
input { margin-bottom:10px; font-size: .8em; padding-left:10px; }
