html, body { margin: 0px;}
* { box-sizing: border-box;}

body {
  background-color: #fff;
  color: #000;
  font-size: 1.4em;
  padding: 0em;

  /* Location of the image */
   background-image: url(http://s8.postimg.org/yf0obmyhv/bg_1.jpg);
   background: linear-gradient(to bottom, rgba(0,0,0,.2) 1%,rgba(255,255,255,.2) 100%), url(http://s8.postimg.org/yf0obmyhv/bg_1.jpg) 0 0;
   /* Background image is centered vertically and horizontally at all times */
   background-position: center center;

   /* Background image doesn't tile */
   background-repeat: no-repeat;

   /* Background image is fixed in the viewport so that it doesn't move when
      the content's height is greater than the image's height */
   background-attachment: fixed;

   /* This is what makes the background image rescale based
      on the container's size */
   background-size: cover;

   /* Set a background color that will be displayed
      while the background image is loading */
   background-color: #464646;


  }

header {
  height:100px;
  background:rgba(0,0,0,.1);
  shadow: 0 1px 3px 0 rgba(0,0,0,.5);
  text-align:center;
  margin-bottom:50px;
}

header h1 {
  margin:0;
  padding:25px 0 10px 0;
  letter-spacing:.2em;
  color:#f8f8f8;
  font-size:2em;
}

.main-content {
  max-width:350px;
  margin:0 auto;
}


.activity-container {
  max-width:350px;
  margin:0 auto;
}
.add-activity-container {
  max-width:350px;
  margin:0 auto;
}


.activity-tab {
  background:rgba(0,0,0,.3);
  color:#f8f8f8;
  display:block;
  padding:1em;
  text-align:center;
  letter-spacing:.1em;
  margin:1em auto;
  max-width:100%;
  transition:.5s ease;
  text-decoration:none;
}
.activity-tab a {
  text-decoration:none;
  color:#f8f8f8;
  letter-spacing:.1em;
}
.activity-tab:hover {
  background:#404040;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,.5);
}
.add-activity-text {
  display:block;
  padding:.75em;
  text-align:center;
  margin:.8em auto;
  width:100%;
  font-size: 1em;
}

.add-activity-button {
  background-color: rgba(0,111,187,.8); /*#006fbb;*/
  display:block;
  padding:.75em;
  text-align:center;
  margin:1em auto;
  max-width:100%;
  font-size: 20px;
  transition: .5s ease;
  cursor: pointer;
  color:#f8f8f8;
  font-size:1.2em;

}

.add-activity-button:hover {
  background-color: #004C80;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,.5);

}

.show-activity-title {
  background-color: red;
}




/* details page styles */
.detail-title {
  margin:0 auto;
  display:block;
  max-width:350px;
  padding:.7em 1em .4em 1em;
  text-align:center;
  transition:.5s ease;
  font-size:1.5em;
  background:rgba(0,0,0,.3);
  color:#f8f8f8;



}
.detail-title span {
  display:block;
  font-size:.5em;
  margin:15px 10px 10px 10px;
  padding:5px 5px 7px 5px;
  background:rgba(0,0,0,.2);
}
