{% load staticfiles %}
<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Health Tracker</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{% static 'css/main.css' %}" />
  <link rel="stylesheet" href="{% static 'css/mobile.css' %}" />
  <link rel="stylesheet" href="{% static 'css/bower_components/fontawesome/css/font-awesome.min.css' %}" />


</head>

<body>

<header>
  <h1>Health Tracker</h1>
</header>

<div class="content-container">


  <div class="main-content">
    <!--routed content goes here-->


    <div class="activity-container">
    </div>

<div class="add-activity-container">
</div>


  </div>




</div><!--close content container-->

  <!--scripts-->
  <!--order matters-->
  <script src="{% static 'js/bower_components/jquery/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'js/bower_components/underscore/underscore-min.js' %}"></script>
  <script src="{% static 'js/bower_components/backbone/backbone-min.js' %}"></script>
  <!--<script src="{% static 'js/bower_components/js-cookie/src/js.cookie.js' %}"></script>-->
  <script>
  function getCookie(name) {
      var cookieValue = null;
      if (document.cookie && document.cookie != '') {
          var cookies = document.cookie.split(';');
          for (var i = 0; i < cookies.length; i++) {
              var cookie = jQuery.trim(cookies[i]);
              // Does this cookie string begin with the name we want?
              if (cookie.substring(0, name.length + 1) == (name + '=')) {
                  cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                  break;
              }
          }
      }
      return cookieValue;
  }
  var csrftoken = getCookie('csrftoken');

  function csrfSafeMethod(method) {
    // these HTTP methods do not require CSRF protection
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
}


$.ajaxSetup({
        beforeSend: function(xhr, settings) {
            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        }
    });




  </script>
  <script src="{% static 'js/router.js' %}"></script>
  <script src="{% static 'js/main.js' %}"></script>




</body>

</html>
